{
    order markdown before file_server
}

:80 {
    markdown /index.md

    route /simple.md {
        try_files /example.md
        markdown {
            template simple
        }
    }

    route /normal.md {
        try_files /example.md
        markdown {
            template normal
        }
    }

    route /github.md {
        try_files /example.md
        markdown {
            template /github.tmpl
        }
    }

    route /bad-template.md {
        try_files /example.md
        markdown {
            template bad-template
        }
    }

    file_server {
        index index.html
    }
}

:81 {
    @markdowns path *.md
    route @markdowns {
        markdown {
            template normal
        }
    }

    file_server
}

:82 {
    markdown
    file_server
}
